



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Chat
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Chat</h1>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
        </div>
        <div class="panel-body">
            <div style="height: 200px; overflow-y: auto" id="cont">

            </div>
            {{ include("DTREOeilSiteBundle:Template:message.html.twig") }}
        </div>
    </div>



    {{ include("DTREOeilSiteBundle:Template:modal_connect.html.twig") }}

{% endblock %}

{% block bundle_javascript %}

    {{ parent() }}

    <script src="{{ asset('https://oeildtcam.hanotaux.fr:8080/socket.io/socket.io.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            {{ include("DTREOeilSiteBundle:Template:token_js.html.twig") }}

            {{ include("DTREOeilSiteBundle:Template:message_js.html.twig") }}

        });
    </script>

{% endblock %}
