



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Médias</h1>
    </div>

    <div class="row" id="container">

    </div>


    {{ include("DTREOeilSiteBundle:Template:modal_connect.html.twig") }}

{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        var token = "{{ token }}";
        var login = "{{ login }}";

        getImages();

        function Image(url, urlth, nom, id, date) {
            this.url = url;
            this.urlth = urlth;
            this.nom = nom;
            this.id = id;
            this.date = date;
        }

        var select = "";

        var images = [];
        now = new Date();

        function getImages() {
            $.ajax({
                url: "https://oeildtapi.hanotaux.fr/api/media/images",
                type: 'GET',
                dataType: 'json',
                beforeSend: function(request) {
                    request.setRequestHeader('X-Auth-Token', token);
                },
                success: function(data) {
                    $.each(data, function(i, field){
                        images.push(new Image(field["urlth"],field["url"],field["user"]["login"], field["id"], field["date"]));
                    });
                    console.log(data);
                    console.log(images);

                    var cpt= 500;
                    addPictures(images, cpt);
                },
                error: function(result) {
                    console.log("Erreur de token");
                    console.log(result);
                    newToken();
                }

            });
        }
        function addPictures(images, cpt) {
            $.each(images, function(i, image){
                console.log(image);
                cpt+=100;
                addPicture(image, cpt, i);
            });

            $('.del').click(function () {
                console.log("suppresion de l'image " +this.id);
                var i_d = "bloc_"+this.id;
                deleteImage(this.id);
                console.log(i_d);
                this.remove();
            });

        }



        function addPicture(image, cpt, i){
            var cont = $("<div></div>").addClass("col-lg-3").addClass("col-md-3").addClass("col-sm-4").addClass("col-xs-12").attr("id","bloc_"+image.id);
            var br = $("<br>");
            var lien =$("<a></a>");
            var br2 = $("<br>");
            var img = $("<img>");
            var thum = $("<div></div>").addClass("thumbnail");
            var titre = $("<div></div>").addClass("caption");
            var nom = $("<h4></h4>").text(image.nom);
            var date = $("<h6></h6>").text(image.date);
            var del = $("<button></button>").addClass("btn btn-danger").addClass("del").attr("id",image.id).text("Supprimer");
            img.attr("src","https://oeildtmedia.hanotaux.fr/"+image.urlth);
            lien.attr("href","https://oeildtmedia.hanotaux.fr/"+image.url);
            lien.attr("target","_blank");
            img.attr("width","100%");
            img.attr("height","auto");
            img.attr("id",i);
            lien.append(img);
            titre.append(nom).append(date).append(del);
            thum.append(lien).append(titre);
            cont.append(thum);
            cont.append(br);
            cont.hide().appendTo($("#container")).fadeIn(cpt);
        }


        function deleteImage(id) {
            $.ajax({
                url: "https://oeildtapi.hanotaux.fr/api/media/image/"+id,
                type: 'DELETE',
                dataType: 'json',
                beforeSend: function(request) {
                    request.setRequestHeader('X-Auth-Token', token);
                },
                success: function(data) {
                    console.log(data);
                    console.log("image deleted");
                    getImages();
                },
                error: function(result) {
                    console.log("Erreur de token");
                    console.log(result);
                    newToken();
                }

            });
        }

        function newToken() {
            $("#modalP").modal();
            $("#save").on('click', (function (e) {
                pass = $('#dtre_oeilsitebundle_user_apiToken').val();
                console.log(pass);
                console.log("new token()");
                $.ajax({
                    url: "https://oeildtapi.hanotaux.fr/api/auth-tokens",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        login: login,
                        password: pass
                    },
                    success: function(result) {
                        console.log(token);
                        token = result.value;
                        console.log(token);
                        console.log(result);
                        getImages();
                        saveToken(token);

                    },
                    error: function(result) {
                        console.log(result);
                        console.log("Erreur autentification POST /auth-tokens");
                    }
                });
                $("#modalP").modal('hide');
                return false;
            }));

        }
        function saveToken(token) {
            $.ajax({
                url: "/oeil/api-refresh-token",
                type: 'POST',
                dataType: 'json',
                data: {
                    token: token
                },
                success: function(result) {
                    console.log(result);


                },
                error: function(result) {
                    console.log(result);
                    console.log("Erreur autentification POST /save-token");
                }
            });
        }
    });
    </script>
{% endblock %}
