



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Médias</h1>
    </div>

    <div class="row">

            <div class="col-md-3">
                <img src="{{ img.urlth }}" width="100%" height="auto">
            </div>
    </div>


    {{ include("DTREOeilSiteBundle:Template:modal_connect.html.twig") }}

{% endblock %}

{% block bundle_javascript %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        var token = "{{ token }}";
        var login = "{{ login }}";

        getImages();

        function Image(url, urlth) {
            this.url = url;
            this.urlth = urlth;
        }

        var select = "";

        var images = [];
        now = new Date();

        function getImages() {
            $.ajax({
                url: "https://oeildtapi.hanotaux.fr/api/media/images",
                type: 'GET',
                dataType: 'json',
                beforeSend: function(request) {
                    request.setRequestHeader('X-Auth-Token', token);
                },
                success: function(data) {
                    $.each(data, function(i, field){
                        images.push(new Image(field["url"],field["urlth"]));
                    });
                    console.log(data);
                    console.log(images);
                },
                error: function(result) {
                    console.log("Erreur de token");
                    console.log(result);
                    newToken();
                }

            });
        }

        function newToken() {
            $("#modalP").modal();
            $("#save").on('click', (function (e) {
                pass = $('#dtre_oeilsitebundle_user_apiToken').val();
                console.log(pass);
                console.log("new token()");
                $.ajax({
                    url: "https://oeildtapi.hanotaux.fr/api/auth-tokens",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        login: login,
                        password: pass
                    },
                    success: function(result) {
                        console.log(token);
                        token = result.value;
                        console.log(token);
                        console.log(result);
                        getImages();
                        saveToken(token);

                    },
                    error: function(result) {
                        console.log(result);
                        console.log("Erreur autentification POST /auth-tokens");
                    }
                });
                $("#modalP").modal('hide');
                return false;
            }));

        }
        function saveToken(token) {
            $.ajax({
                url: "/oeil/api-refresh-token",
                type: 'POST',
                dataType: 'json',
                data: {
                    token: token
                },
                success: function(result) {
                    console.log(result);


                },
                error: function(result) {
                    console.log(result);
                    console.log("Erreur autentification POST /save-token");
                }
            });
        }
    });
    </script>
{% endblock %}
