



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Video</h1>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Streaming Video</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <img src="http://mathieuhanotaux.ddns.net:8090/?action=stream" width="100%" height="auto" class="img-thumbnail" />
                    <br>
                    <br>
                    <div align="center">
                        <button type="button" class="glyphicon glyphicon-record btn btn-danger" aria-hidden="true" id="start_record"> Start record</button>
                        <button type="button" class="glyphicon glyphicon-stop btn btn-warning" aria-hidden="true" id="stop_record"> Stop record</button>
                        <button type="button" class="glyphicon glyphicon-camera btn btn-primary" aria-hidden="true" id="picture"> Prendre une photo</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            {% image 'public/images/haut.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="up" width="96px" height="91px" />
                            {% endimage %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% image 'public/images/gauche.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="left" width="96px" height="91px"/>
                            {% endimage %}
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            {% image 'public/images/droite.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="right" width="96px" height="91px" />
                            {% endimage %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            {% image 'public/images/bas.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="down" width="96px" height="91px" />
                            {% endimage %}
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>

    {{ include("DTREOeilSiteBundle:Template:modal_connect.html.twig") }}

{% endblock %}

{% block bundle_javascript %}

    {{ parent() }}
    <script src="{{ asset('http://mathieuhanotaux.ddns.net:8080/socket.io/socket.io.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var token = "{{ token }}";
            var login = "{{ login }}";
            var apiid = "{{ apiid }}";

            var socket = io.connect('http://mathieuhanotaux.ddns.net:8080');
            socket.on('message', function(message) {
                alert('Le serveur a un message pour vous : ' + message);
            });

            $('#left').click(function () {
                socket.emit('left', 'LEFT');
                alert('left');
            });
            $('#right').click(function () {
                socket.emit('right', 'RIGHT');
                alert('right');
            });
            $('#up').click(function () {
                socket.emit('up', 'UP');
                alert('top');
            });
            $('#down').click(function () {
                socket.emit('down', 'DOWN');
                alert('down');
            });
            $('#start_record').click(function () {
                $.ajax({
                    url: "https://oeildtapi.hanotaux.fr/api/media/images/shot?id="+apiId,
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function(request) {
                        request.setRequestHeader('X-Auth-Token', token);
                    },
                    success: function(data) {

                        console.log(data);
                    },
                    error: function(result) {
                        console.log("Erreur de token");
                        console.log(result);
                        newToken();
                    }

                });
            });
            $('#stop_record').click(function () {
                socket.emit('stop_record');
            });
            $('#picture').click(function () {
                socket.emit('picture');
            });
            $('#center').click(function () {
                socket.emit('center', 'CENTER');
            });
            $('#light-on').click(function () {
                socket.emit('light-on', 'LIGHT-ON');
            });
            $('#light-off').click(function () {
                socket.emit('light-off', 'LIGHT-OFF');
            });
            function newToken() {
                $("#modalP").modal();
                $("#save").on('click', (function (e) {
                    pass = $('#dtre_oeilsitebundle_user_apiToken').val();
                    console.log(pass);
                    console.log("new token()");
                    $.ajax({
                        url: "https://oeildtapi.hanotaux.fr/api/auth-tokens",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            login: login,
                            password: pass
                        },
                        success: function(result) {
                            console.log(token);
                            token = result.value;
                            console.log(token);
                            console.log(result);
                            getSensorInformation(token);
                            saveToken(token);

                        },
                        error: function(result) {
                            console.log(result);
                            console.log("Erreur autentification POST /auth-tokens");
                        }
                    });
                    $("#modalP").modal('hide');
                    return false;
                }));

            }
            function saveToken(token) {
                $.ajax({
                    url: "/oeil/api-refresh-token",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        token: token
                    },
                    success: function(result) {
                        console.log(result);


                    },
                    error: function(result) {
                        console.log(result);
                        console.log("Erreur autentification POST /save-token");
                    }
                });
            }
        });
    </script>

{% endblock %}
