



{% extends "DTREOeilSiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} Video
{% endblock %}

{% block bundle_body %}
    <div class="page-header">
        <h1>Video</h1>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Streaming Video</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <img src="http://93.12.53.245:8090/?action=stream" width="100%" height="auto" />
                    <br>
                    <br>
                    <div align="center">
                        <button type="button" class="glyphicon glyphicon-record btn btn-danger" aria-hidden="true" id="start_record"> Start record</button>
                        <button type="button" class="glyphicon glyphicon-stop btn btn-warning" aria-hidden="true" id="stop_record"> Stop record</button>
                        <button type="button" class="glyphicon glyphicon-camera btn btn-primary" aria-hidden="true" id="picture"> Prendre une photo</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            {% image 'public/images/haut.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="up" width="96px" height="91px" />
                            {% endimage %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% image 'public/images/gauche.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="left" width="96px" height="91px"/>
                            {% endimage %}
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            {% image 'public/images/droite.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="right" width="96px" height="91px" />
                            {% endimage %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            {% image 'public/images/bas.png' %}
                            <img src="{{ asset_url }}" alt="Example" id="down" width="96px" height="91px" />
                            {% endimage %}
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block bundle_javascript %}

    {{ parent() }}
    <script src="{{ asset('http://93.12.53.245:8080/socket.io/socket.io.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/video_control.js') }}"></script>

    <script type="text/javascript">

    </script>

{% endblock %}
